{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}"/>
{% endblock %}

{% block title %} FAQ {% endblock %}

{% block navbarButton %}
    <div>
        <a href={% url 'profile_settings' %}>
            <div class="profile_icon"><img width="50" height=50" src="../static/img/profile_icon.png"
                                           alt="profile_icon"></div>
        </a>
        <a href={% url 'logout' %}>
            <div class="profile_icon"><img width="50" height="50" src="../static/img/logout_icon.png" alt="logout_icon">
            </div>
        </a>
    </div>

{% endblock %}

{% block content %}

    <div class="main">
        <h1 style="text-align: center">FAQ</h1>
        <br>

        <ul>
            <li>
                <b>¿Qué es GamerMatch?</b>
                <br> Gamermatch es una aplicación para ayudarte a encontrar
                compañeros para tus juegos favoritos, ¡solamente debes crearte
                una cuenta y comienza a descubrir a otros jugadores!
            </li>
            <br>
            <li>
                <b>¿Tengo que pagar para usarlo?</b>
                <br> ¡No! Nuestra aplicación es completamente gratuita y sin
                anuncios para que tengas la mejor experiencia posible.
            </li>
            <br>
            <li>
                <b>¿Quiénes somos?</b>
                <br> Somos cinco estudiantes de Ingeniería en Computación
                que desean lograr una bella comunidad donde nadie se sienta
                solo al momento de jugar su juego favorito y que puedan compartir
                con más jugadores este mismo deseo de pasarla bien mientras se conocen.
            </li>
        </ul>

    </div>
    <br><br><br>
{% endblock %}