{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}"/>
{% endblock %}

{% block title %} PROFILE {% endblock %}

{% block navbarButton %}
    <div>
        <a href={% url 'profile_settings' %}>
            <div class="profile_icon"> <img width="50" height=50" src="../static/img/profile_icon.png" alt="profile_icon"> </div>
        </a>
        <a href={% url 'logout' %}>
            <div class="profile_icon"> <img width="50" height="50" src="../static/img/logout_icon.png" alt="logout_icon"></div>
        </a>
    </div>

{% endblock %}

{% block content %}

<div class="faq_title">
<h1>FAQ</h1>

ola
</div>

{% endblock %}