{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock %}

{% block title %} PROFILE {% endblock %}

{% block navbarButton %}
    <div>
        <a href={% url 'profile_settings' %}>
            <div class="profile_icon"> <img src="../static/img/profile_icon.png" alt="profile_icon"> </div>
        </a>
        <a href={% url 'logout' %}>
            <div class="profile_icon"> <img src="../static/img/logout_icon.png" alt="logout_icon"></div>
        </a>
    </div>

{% endblock %}

{% block content %}

<div class="welcome">¡Bienvenido, {{user}}!</div>
{% if messages %}
    {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
    {% endfor %}
{% endif %}

{% endblock %}