{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock %}

{% block title %} PROFILE {% endblock %}

{% block navbarButton %}
    <div>
        <a href={% url 'profile_settings' %}>
            <div class="profile_icon"> <img src="../static/img/profile_icon.png" alt="profile_icon"  width="100" height="100"> </div>
        </a>
        <a href={% url 'logout' %}>
            <div class="profile_icon"> <img src="../static/img/logout_icon.png" alt="logout_icon"  width="100" height="100"></div>
        </a>
    </div>

{% endblock %}



{% block content %}

<div class="welcome">¡Bienvenido, {{user}}!</div>


{% if messages %}
    {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
    {% endfor %}
{% endif %}

<div>  <!--Aquí habría una fila con el botón de crear y la barra de búsqueda de solicitudes-->
    <a href={% url 'upload' %}>
        <div class="nueva_solicitud"> Crear nueva solicitud </div>
    </a>
    <div>  <!--Aquí iría la barra de búsqueda-->

    </div>
</div>


<div>  <!--Y aquí irían las pestañas y contenido para ver tus publicaciones y las solicitudes recomendadas-->

    <div class="welcome">Todas las solicitudes</div>

    {% for req in solicitudes %}

    <div class="request">
        <div class="juego"><b>Juego:</b> {{req.juego}}</div>
        <div class="fecha"><b>Fecha:</b> {{req.time}}</div>
        <div class="juego"><b>Tags:</b> {{req.tags}}</div>
        <div class="descripcion"><b>Descripción:</b> {{req.descripcion}}</div>
    </div>

    {% endfor %}

</div>


{% endblock %}