{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_settings.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/tags.css' %}"/>
{% endblock %}

{% block title %} Profile settings {% endblock %}

{% block navbarButton %}
    <div>
        <a href={% url 'profile_settings' %}>
            <div class="profile_icon"> <img src="../static/img/profile_icon.png" alt="profile_icon"> </div>
        </a>
        <a href={% url 'logout' %}>
            <div class="profile_icon"> <img src="../static/img/logout_icon.png" alt="logout_icon"></div>
        </a>
    </div>

{% endblock %}

{% block content %}
<div class="section_title">Tu perfil</div>
<div class="profile_nav"> <!--labels-->
    <div class="inactive_tab profile_nav_tab" id="tab_ajustes_de_cuenta">
        Ajustes de Cuenta
    </div>
    <div class="inactive_tab profile_nav_tab" id="tab_juegos_favoritos">
        Juegos favoritos
    </div>
    <div class="inactive_tab profile_nav_tab" id="tab_tags_favoritos">
        Tags favoritos
    </div>
</div>

<div  class="active_content"><!--Content div, with possible contents. The one that is selected -->
    <div id="body_ajustes_de_cuenta" class="inactive_content">
        <form method="post" id="change_password_form" action="{% url 'change_password' %}">  <!--Cambiar contraseña-->
            {% csrf_token %}

            <div class="content_body">
                <div class="row centered">
                    <div class="text_label">Nombre de Usuario:</div> <div class="text_value">{{ user }}</div>
                </div> <br>
                <div class="text_label row centered">Cambiar contraseña:</div><br><br>
                <div>
                    <div class="row spaced">
                        <label for="old_pass" class="text_label">Contraseña Antigua: </label> <input type="password" name="old_password" id="old_pass">
                    </div>
                    <div class="row spaced">
                        <label for="new_pass" class="text_label">Contraseña Nueva: </label> <input type="password" name="new_password1" id="new_pass">
                    </div>
                    <div class="row spaced">
                        <label for="new_pass2" class="text_label">Confirmar Contraseña: </label> <input type="password" name="new_password2" id="new_pass2">
                    </div>
                </div>
                <p class="error-message" id="errorMessage">
                    {% if messages %}
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}
                    {% endif %}
                </p>
                 <button type="button" id="change_password_form_btn" class="change_pass_button">Cambiar Contraseña</button>
            </div>
        </form>

    </div>

    <div id="body_juegos_favoritos" class="inactive_content">
        <form method="post" id="favorite_games_form" action="{% url 'update_favorite_games' %}">
            {% csrf_token %}

            <div class="content_body" >  <!--Juegos Favoritos-->
            <div>
                <div class="item_row">
                    <input type="checkbox" id="lol_checkbox" name="lol_game" class="star_checkbox" {% if favorite_games.lol %} checked {% endif %}>  <!--Checkbox-->
                    <label for="lol_checkbox" class="image_icon">
                        <img src="{% static 'img/lol.png' %}" alt="lol">  <!--Game Icon-->
                    </label>

                    <div class="description_whiteboard">  <!--Description-->
                        League of Legends
                    </div>
                </div>
                <div class="item_row">
                    <input type="checkbox" id="minecraft_checkbox" name="minecraft_game" class="star_checkbox" {% if favorite_games.minecraft %} checked {% endif %}>  <!--Checkbox-->
                    <label for="minecraft_checkbox" class="image_icon">
                        <img src="{% static 'img/minecraft.png' %}" alt="minecraft">  <!--Game Icon-->
                    </label>

                    <div class="description_whiteboard">  <!--Description-->
                        Minecraft
                    </div>
                </div>
                <div class="item_row">
                    <input type="checkbox" id="smash_checkbox" name="smash_game" class="star_checkbox" {% if favorite_games.smash %} checked {% endif %}>
                    <label for="smash_checkbox" class="image_icon">
                        <img src="{% static 'img/smash.png' %}" alt="smash">  <!--Game Icon-->
                    </label>

                    <div class="description_whiteboard">  <!--Description-->
                        Super Smash Bros. Ultimate
                    </div>
                </div>
                <div class="item_row">
                    <input type="checkbox" id="valorant_checkbox" name="valorant_game" {% if favorite_games.valorant %} checked {% endif %} class="star_checkbox">  <!--Checkbox-->
                    <label for="valorant_checkbox" class="image_icon">
                        <img src="{% static 'img/valorant.png' %}" alt="valorant">  <!--Game Icon-->
                    </label>

                    <div class="description_whiteboard">  <!--Description-->
                        Valorant
                    </div>
                </div>
                <div class="item_row">
                    <input type="checkbox" id="overwatch_checkbox" name="overwatch_game" {% if favorite_games.overwatch %} checked {% endif %} class="star_checkbox">  <!--Checkbox-->
                    <label for="overwatch_checkbox" class="image_icon">
                        <img src="{% static 'img/overwatch.png' %}" alt="overwatch">  <!--Game Icon-->
                    </label>

                    <div class="description_whiteboard">  <!--Description-->
                        Overwatch
                    </div>
                </div>
                <div class="item_row">
                    <input type="checkbox" id="otros_checkbox" name="otros_game" {% if favorite_games.otros %} checked {% endif %} class="star_checkbox">  <!--Checkbox-->
                    <label for="otros_checkbox" class="image_icon">
                        <img src="{% static 'img/otros.png' %}" alt="otros">  <!--Game Icon-->
                    </label>

                    <div class="description_whiteboard">  <!--Description-->
                        Otros juegos
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

    <div id="body_tags_favoritos" class="inactive_content">
        <div class="tag_favoritos_body" >  <!--Tags Favoritos-->
            <form method="post" id="tags_form" action="{% url 'update_tags' %}">
                {% csrf_token %}
            <div id = "input_div">
                <p>Tus tags:</p>
            </div>
            <div id="error-message-tags" style="display:none">
                <p>¡Tags actualizados!</p>
            </div>
            <div id='the_tags' class="simple-tags" data-simple-tags={{ favorite_tags.tags }}></div>


                <div>
                    <button type="button" id="tags-button" class="change_pass_button">Actualizar</button>
                </div>
                <div class="tag_boxes_row" style="display:none">
                    <input type="text" name="tags" id="id_tags">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/profile_settings_tab_manager.js' %}"> </script>
<script src="{% static 'js/tags_script.js' %}"></script>
<script src="{% static 'js/password_validation.js' %}"></script>
<script>
/**
 * Gets the csrf cookie, it may be necessary to send it with the forms to authenticate the user is him.
 */
let csrfcookie = function() {
    let cookieValue = null,
        name = 'csrftoken';
    if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            // search in the cookies, that whoe that has 'csrftoken' in its name
            let cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};
</script>
<script>
let url_fav_games = "{% url 'update_favorite_games' %}";
let url_tags = "{% url 'update_tags' %}";
</script>
<script src="{% static 'js/post_profile_settings_forms.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}
