{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_settings.css' %}"/>
{% endblock %}

{% block title %} Profile settings {% endblock %}

{% block navbarButton %}
    <div>
        <a href={% url 'profile_settings' %}>
            <div class="profile_icon"> <img src="../static/img/profile_icon.png" alt="profile_icon"> </div>
        </a>
        <a href={% url 'logout' %}>
            <div class="profile_icon"> <img src="../static/img/logout_icon.png" alt="logout_icon"></div>
        </a>
    </div>

{% endblock %}

{% block content %}
<div class="section_title">Tu perfil</div>
<div class="profile_nav"> <!--labels-->
    <div class="active_tab profile_nav_tab" id="tab_ajustes_de_cuenta">
        Ajustes de Cuenta
    </div>
    <div class="inactive_tab profile_nav_tab" id="tab_juegos_favoritos">
        Juegos favoritos
    </div>
    <div class="inactive_tab profile_nav_tab" id="tab_tags_favoritos">
        Tags favoritos
    </div>
</div>

<div><!--Content div, with possible contents. The one that is selected -->
    <div id="body_ajustes_de_cuenta">
        <form method="post" id="change_password_form">  <!--Cambiar contraseña-->
            {% csrf_token %}

            <div class="content_body">
                <div class="row centered">
                    <div class="text_label">Nombre de Usuario:</div> <div class="text_value">{{ user }}</div>
                </div> <br>
                <div class="text_label row centered">Cambiar contraseña:</div><br><br>
                <div>
                    <div class="row spaced">
                        <label for="old_pass" class="text_label">Contraseña Antigua: </label> <input type="password" name="old_password" id="old_pass">
                    </div>
                    <div class="row spaced">
                        <label for="new_pass" class="text_label">Contraseña Nueva: </label> <input type="password" name="new_password1" id="new_pass">
                    </div>
                    <div class="row spaced">
                        <label for="new_pass2" class="text_label">Confirmar Contraseña: </label> <input type="password" name="new_password2" id="new_pass2">
                    </div>
                </div>
                {% if messages %}
                    <div>
                        {% for message in messages %}
                            <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
                        {% endfor %}
                    </div>
                {% endif %}
                 <button id="change_password_form_btn" class="change_pass_button">Cambiar Contraseña</button>
            </div>
        </form>

    </div>

    <div id="body_juegos_favoritos" class="inactive_content">
        <form method="post" id="favorite_games_form">
            {% csrf_token %}

            <div class="content_body" >  <!--Juegos Favoritos-->
            <div>
                <div class="item_row">
                    <div class="selected_star_icon">
                        <img src="../static/img/star_on.png">  <!--Star-->
                    </div>

                    <div class="image_icon">
                        <img src="../static/img/lol.png">  <!--Game Icon-->
                    </div>

                    <div class="description_whiteboard">  <!--Description-->
                        League of Legends
                    </div>
                </div>
                <div class="item_row">
                    <div class="selected_star_icon">
                        <img src="../static/img/star_off.png" >  <!--Star-->
                    </div>
                    <div class="image_icon">
                        <img src="../static/img/minecraft.png" >  <!--Game Icon-->
                    </div>

                    <div class="description_whiteboard">  <!--Description-->
                        Minecraft
                    </div>
                </div>
                <div class="item_row">
                    <div class="selected_star_icon">
                        <img src="../static/img/star_off.png">  <!--Star-->
                    </div>

                    <div class="image_icon">
                        <img src="../static/img/smash.png">  <!--Game Icon-->
                    </div>

                    <div class="description_whiteboard">  <!--Description-->
                        Super Smash Bros. Ultimate
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

    <div id="body_tags_favoritos" class="inactive_content">
        <div class="tag_favoritos_body" >  <!--Tags Favoritos-->
            <form method="post" id="tags_form">
                <div class="tag_boxes_row">
                    {#<input type="text" id="new_tags" name="nuevos_tags" class="tag_input">#}
                    <label for="new_tags" {#class="tag_box_label"#}>Nuevos tags:</label>
                    <input type="text" data-role="tagsinput" class="form-control"{# tag_input"#} name="tags" id="new_tags">
                    <button type="button" {#class="add_tag_button"#} id="add_tag_button">Agregar</button>
                </div>
            </form>
            {% csrf_token %}
            <div class="tag_boxes_row">
                <div class="tag_box_label">Tus tags: </div>
                <div class="whiteboard">
                    <div class="sticker">
                        <div>#flamer</div> <div class="close_icon"><img alt="close-icon" src="../static/img/icon-close-512.webp"></div>
                    </div>
                    <div class="sticker">
                        <div>#challenger</div> <div class="close_icon"><img alt="close-icon" src="../static/img/icon-close-512.webp"></div>
                    </div>
                    <div class="sticker">
                        <div>#help</div> <div class="close_icon"><img alt="close-icon" src="../static/img/icon-close-512.webp"></div>
                    </div>
                    <div class="sticker">
                        <div>#rick</div> <div class="close_icon"><img alt="close-icon" src="../static/img/icon-close-512.webp"></div>
                    </div>
                    <div class="sticker">
                        <div>#roll</div> <div class="close_icon"><img alt="close-icon" src="../static/img/icon-close-512.webp"></div>
                    </div>
                    <div class="sticker">
                        <div>#xd</div> <div class="close_icon"><img alt="close-icon" src="../static/img/icon-close-512.webp"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    let body_ajustes = document.getElementById('body_ajustes_de_cuenta');
    let body_juegos = document.getElementById('body_juegos_favoritos');
    let body_tags = document.getElementById('body_tags_favoritos');

    let selected_id = "tab_ajustes_de_cuenta";

    document.getElementById('tab_ajustes_de_cuenta').addEventListener('click', function (e) {
        if (selected_id !== 'tab_ajustes_de_cuenta') {
            document.getElementById(selected_id).classList.replace('active_tab', 'inactive_tab');
            selected_id = 'tab_ajustes_de_cuenta';
            document.getElementById(selected_id).classList.replace('inactive_tab', 'active_tab');

            body_ajustes.classList.remove('inactive_content');
            body_juegos.classList.add('inactive_content');
            body_tags.classList.add('inactive_content');
        }
    });
    document.getElementById('tab_juegos_favoritos').addEventListener('click', function (e) {
        if (selected_id !== 'tab_juegos_favoritos') {
            document.getElementById(selected_id).classList.replace('active_tab', 'inactive_tab');
            selected_id = 'tab_juegos_favoritos';
            document.getElementById(selected_id).classList.replace('inactive_tab', 'active_tab');

            body_ajustes.classList.add('inactive_content');
            body_juegos.classList.remove('inactive_content');
            body_tags.classList.add('inactive_content');
        }
    });
    document.getElementById('tab_tags_favoritos').addEventListener('click', function (e) {
        if (selected_id !== 'tab_tags_favoritos') {
            document.getElementById(selected_id).classList.replace('active_tab', 'inactive_tab');
            selected_id = 'tab_tags_favoritos';
            document.getElementById(selected_id).classList.replace('inactive_tab', 'active_tab');

            body_ajustes.classList.add('inactive_content');
            body_juegos.classList.add('inactive_content');
            body_tags.classList.remove('inactive_content');
        }
    });

</script>
<script>
    {#Change password js#}
    let submit_button = document.getElementById('change_password_form_btn');
    submit_button.addEventListener('click', validate)
    function validate() {
        let new_pass = document.getElementsByName('new_password1')[0].value;
        let new_pass_confirm = document.getElementsByName('new_password2')[0].value;

        if (new_pass !== new_pass_confirm) {
            console.log("Error, la nueva contraseña no coincide al confirmarla");
            return;
        }
        document.getElementById('change_password_form').submit();
    }

    {#Add tags js#}
    let submit_tags_button = document.getElementById('add_tag_button');
    submit_tags_button.addEventListener('click', function () {
        let form = document.getElementById('tags_form');
        if (form.value !== null) {
            form.submit();
        } else {
            console.log("Error, la entrada de tags está vacía");
        }
    });

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/tagsinput.js'%}"></script>

{% endblock %}