{% extends "base.html" %}

{% load static %}

<!-- **************************************************************************************** -->

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock %}

{% block title %} PROFILE {% endblock %}

{% block navbarButton %}
    <div>
        <a href={% url 'profile_settings' %}>
            <div class="profile_icon"> <img src="../static/img/profile_icon.png" alt="profile_icon"  width="100" height="100"> </div>
        </a>
        <a href={% url 'logout' %}>
            <div class="profile_icon"> <img src="../static/img/logout_icon.png" alt="logout_icon"  width="100" height="100"></div>
        </a>
    </div>

{% endblock %}

<!-- **************************************************************************************** -->

{% block content %}

<!-- **************************************************************************************** -->

<body>
  <div class="container">
    <!-- Nav tabs -->
    <div class="navbar">
        <form class="d-flex" method="get">
            <input class="form-control me-2" type="search" placeholder="Etiquetas" aria-label="Search" name="search_tag">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>


    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="sol1">

            <div id="box_solicitudes" class="box_solicitudes">
            {% for req in solicitudes %}
                <div id="request">
                    <div class="juego"><b>Juego:</b> {{req.juego}}</div>
                    <div class="juego"><b>Usuario:</b> {{req.user}}</div>
                    <div class="fecha"><b>Fecha:</b> {{req.time}}</div>
                    <div class="juego"><b>Tags:</b> {{req.tags}}</div>
                    <div class="descripcion"><b>Descripción:</b> </div>
                    <div id="box_descripcion">{{req.descripcion}}</div>
                </div>

            {% empty %}
                <div id="noSolicitudes"><center>No se encontraron solicitudes para su búsqueda.</center></div>

            {% endfor %}
            </div>

        </div>
    </div>
  </div>
</body>


{% endblock %}