{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}"/>
{% endblock %}


{% block title %} UPLOAD {% endblock %}

{% block navbarButton %}
    <div>
        <a href={% url 'profile_settings' %}>
            <div class="profile_icon"><img width="50" height=50" src="../static/img/profile_icon.png"
                                           alt="profile_icon"></div>
        </a>
        <a href={% url 'logout' %}>
            <div class="profile_icon"><img width="50" height="50" src="../static/img/logout_icon.png" alt="logout_icon">
            </div>
        </a>
    </div>

{% endblock %}

{% block content %}

     <!DOCTYPE html>
     <html lang="en">
     <head>
         <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}"/>
        <meta charset="UTF-8">
        <title> Nueva publicació </title>
     </head>
     <body>
        <h2> Nueva publicación </h2>
        <form method="post">
            {% csrf_token %}
            <div class="center">
                <label class ="leyenda">Juego</label>
                <select type="text" id=nombre_juego name="nombre_juego" required>
                <option class="disabled" value=""> Elige un juego </option>
                    <option value="League of Legends">League of Legends</option>
                    <option value="Fortnite">Fortnite</option>
                    <option value="Super Smash Bros.">Super Smash Bros.</option>
                    <option value="Minecraft">Minecraft</option>
                </select>
            </div>

            <div class="center">
                <label class ="leyenda">Tags</label>
                <input type="text" id="tags" name="tags" required>
            </div>

             <div class="center">
                <label class ="leyenda">Descripción</label>
                <textarea id="descripcion" name="descripcion" required></textarea>
             </div>

             <div class="center">
                <button type="submit">Publicar</button>
                <button type="cancel">Cancelar</button>
             </div>
        </form>
     </body>
     </html>

{% endblock %}