{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}"/>
{% endblock %}


{% block title %} UPLOAD {% endblock %}

{% block navbarButton %}

    <div>Perfil (ejemplo)</div>

{% endblock %}

{% block content %}

     <!DOCTYPE html>
     <html lang="en">
     <head>
         <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}"/>
        <meta charset="UTF-8">
        <title> Nueva publicació </title>
     </head>
     <body>
        <h2> Nueva publicación </h2>
        <form method="post">
            {% csrf_token %}
            <div class="center">
                <label class ="leyenda">Juego</label>
                <select type="text" id=nombre_juego name="nombre_juego" required>
                <option class="disabled" value=""> Elige un juego </option>
                    <option value="lol">League of Legends</option>
                    <option value="fortnite">Fortnite</option>
                    <option value="ssb">Super Smash Bros.</option>
                    <option value="minecraft">Minecraft</option>
                </select>
            </div>

            <div class="center">
                <label class ="leyenda">Tags</label>
                <input type="text" id="tags" name="tags" required>
            </div>

             <div class="center">
                <label class ="leyenda">Descripción</label>
                <textarea id="descripcion" name="descripcion" required>
                </textarea>
             </div>

             <div class="center">
                <button type="submit">Publicar</button>
                <button type="cancel">Cancelar</button>
             </div>
        </form>
     </body>
     </html>

{% endblock %}