{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/userlogin.css' %}" />
{% endblock %}

{% block title %} Iniciar Sesión {% endblock %}


{% block content %}
<div class='flex-container2'>
<div class=left-div>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table>
            <tr>
                <td class='login-message-cell' colspan='2'>
                    <h1 class='login-message'> Iniciar Sesión </h1>
                </td>
            </tr>
            <tr>
                <td>
                    <label class='form-label' for="id_username">Usuario:</label>
                </td>
                <td class='form-input-cell'>
                    <input class='form-input' type="text" name="username" autofocus autocapitalize="none"
                        autocomplete="username" maxlength="150" required id="id_username"> <br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label class='form-label' for="id_password">Contraseña:</label>
                </td>
                <td class='form-input-cell'>
                    <input class='form-input' type="password" name="password" autocomplete="current-password" required
                        id="id_password"> <br><br>
                </td>
            </tr>
            <tr>
                <td class='login-button-cell' colspan='2'>
                    <input class='login-button' type="submit", value="Entrar">
                </td>
            </tr>
        </table>
        {% if messages %}
        {% for message in messages %}
            <p class="error-message">{{message}}</p>
        {% endfor %}
        {% endif %}
    </form>
</div>
<div class='right-div'>
    <h2 class='register-message'>¿No tienes una cuenta?</h2>
    <button type="button" class="login big-button" onclick="location.href='../signup/'">¡Regístrate!</button>
</div>
</div>
{% endblock %}