body {
    background-color: #3b3b3b;
}

h1 {
    font-size: 40px;
    color: #ffffff;
}
label{
     color: #ffffff;
}

.flex-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #64b628;
}

.flex-container2 {
    display: flex;
}


.exampleclass{
    background-color: #5100ff;
}
.welcome {
    font-size: 200%;
    font-weight: normal;
    color: #ffffff;
}
p{color: #ffffff;}

.er{color: #ffffff;}
.message{color: #ffffff;}

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;}
.footer{margin-top: auto;}