.uploadclass{
    background-color: yellowgreen;
}

select {
  width: 30%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type=text] {
  width: 30%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
}

.profile_icon {
    width: 40px;
    height: 40px;

    padding: 5px;
    display: inline-flex;
}

textarea {
  width: 30%;
  height: 100px;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: top;
}

button[type=submit], .bCancel {
  background-color: #4CAF50;
  border: 1px solid #242424;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.bCancel {
  padding: 20px 32px;
  border-radius: 15px;
  background-color: #CDCCCB;
  color: black;
}

h2 {
  color: white;
  margin: 10px 0;
  padding: 8px 70px;
}

.center {
  text-align: center;
}

.leyenda {
  color: white;
  width: 7.5%;
  display: inline-block;
  padding: 6px 10px;
  margin: 8px 0;
  text-align: right;
}
.publish{    padding: 20px;
    background-color: #64b628;
    border: 3px solid black;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;}
.publish:hover {background-color: #3e8e41}

.publish:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.cancel{
    color: black;
    padding: 20px;
    background-color: #b62111;
    border: 3px solid black;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;}
.cancel:hover {background-color: #8e2839;
    color: black;
}

.cancel:active {
    color: black;
  background-color: #8e0f10;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
